@{
    ViewData["Title"] = "Calculadora";
}

<h3>Calculadora</h3>
<p>Utilize o formulário abaixo para calcular os dois números</p>

<form asp-action="Resultado" method="post">
    <label for="num1">Número 1</label>
    <input type="text" name="num1" id="num1">

    <label for="num2">Número 2</label>
    <input type="text" name="num2" id="num2">

    <select name="op">
        <option value="Soma">Somar</option>
        <option value="Subtração">Subtrair</option>
        <option value="Multiplicação">Multiplicar</option>
        <option value="Divisão">Dividir</option>
    </select>

    <input type="submit" value="Calcular">
</form>